@model CarpAssociationWebsite.ViewModels.StatisticsAndInformationViewModel
@{
    ViewBag.Title = "StatisticsAndInformationDashboardIndex";
}

<h2>StatisticsAndInformationDashboardIndex</h2>

<p>Suntem pe statistici</p>

<br />
<br />

<p>Gen @Model.ActiveLoans loanuri active.</p>