@model CarpAssociationWebsite.Models.Member

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/Content/Images/dad.svg" alt="" width="100" height="100">
        <h2>Add new member</h2>
        <p class="lead">
            Add a new member to our association, enter all his/hers credentials bellow
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4 class="mb-3">Member Information</h4>
            <form class="needs-validation" novalidate="">

                <!-- Name and First Name -->
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <!-- Personal Identification Number -->
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="PersonalIdentificationNumber">Personal Identification Number</label>
                        <div class="input-group col-xs-8">                          
                            <input type="text" class="form-control" id="PersonalIdentificationNumber" placeholder="Personal Identification Number" required="">
                            
                        </div>
                    </div>
                </div>

                <!-- Phone Number -->

                <div class="mb-3">
                    <label for="PhoneNumber">Phone Number <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="PhoneNumber" style="width: 100%" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid phone number.
                    </div>
                </div>


                <!-- Net Income -->

                <div class="mb-3">
                    <label for="NetIncome">Net Income</label>
                    <input type="text" class="form-control" id="NetIncome" placeholder="1000" required="" >
                    <div class="invalid-feedback">
                        Please enter your net income.
                    </div>
                </div>

                <!-- Address -->
                <div class="mb-3">
                    <div class="form-group">
                        <label for="iR" class="sr-only">i R</label>
                        <div class="flex-fill mr-2">
                            <input type="text" class="form-control" id="iR" placeholder="some mid long explanation" />
                        </div>
                    </div>
                </div>

                <!-- State and City -->

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required="">
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" required="">
                            <option value="">Choose...</option>
                            <option>California</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">

                <!-- Is married -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Is married</label>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Add member</button>
            </form>
        </div>
    </div>
</div>
