@{
    ViewBag.Title = "About";
}

<div class="container">

    <!-- Tittle screen -->
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-2" src="~/Content/Images/colleagues-about-us.jpg" alt="colleagues-about-us" width="550" height="400">
        <h2>About</h2>
        <p class="lead">
            This web application is here to help you as a Carp employee to perform all you necessary activities
        </p>
    </div>
    
    <p>On the menu of this web application you can find a dashboard which helps you navigate to different kind of actions. The action are described bellow:</p>
    
    <table class="table table-striped table-bordered table-sm mb-5">
        <tr>
            <th>Action</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Add new member</td>
            <td>Add a new member to the association.</td>
        </tr>
        <tr>
            <td>Give loan</td>
            <td>Give a loan to member based on his needs and possibilities.</td>
        </tr>
        <tr>
            <td>Start savings account</td>
            <td>Open a savings account for an existing member.</td>
        </tr>
        <tr>
            <td>Active loans and economy accounts</td>
            <td>See all loans and economy accounts, pay rate, close economy accounts.</td>
        <tr>
            <td>Update Interest rates</td>
            <td>Update Interest rates for both economy accounts and loans.</td>
        </tr>
        <tr>
            <td>Statistics & Information</td>
            <td>View statistics & manage members from here.</td>
        </tr>
    </table>

    

</div>