@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-transparent text-center">
    <img class="img-responsive" src="~/Content/Images/pension-fund-cartoon.jpg"/>
</div>

<!-- Here display a dashboard for the Carp employee with his operations -->
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-3 m-4">
            <div class="card shadow-lg border">
                <img src="~/Content/Images/businessman.png" width="100" height="200" class="card-img-top" alt="business man icon" />
                <div class="card-body">
                    <h5>Add new member</h5>
                    <p class="card-text">Add a new member to the association.</p>
                    <a href="@Url.Action("Create", "Member")" class="btn btn-primary">Go to action</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 m-4">
            <div class="card shadow-lg border">
                <img src="~/Content/Images/pay.png" width="100" height="200" class="card-img-top img-responsive" alt="money lending icon" />
                <div class="card-body">
                    <h5>Give loan</h5>
                    <p class="card-text">Give a loan to member based on his needs and possibilities.</p>
                    <a href="#" class="btn btn-primary">Go to action</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 m-4">
            <div class="card shadow-lg border">
                <img src="~/Content/Images/profit.png" width="100" height="200" class="card-img-top" alt="coins icon" />
                <div class="card-body">
                    <h5>Start savings account</h5>
                    <p class="card-text">Open a savings account for an existing member.</p>
                    <a href="#" class="btn btn-primary">Go to action</a>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Second row-->

    <div class="row justify-content-center">
        <div class="col-md-3 m-4">
            <div class="card shadow-lg border">
                <img src="~/Content/Images/active_loan_account.jpg" width="100" height="200" class="card-img-top" alt="business man icon" />
                <div class="card-body">
                    <h5>Active loans and economy accounts</h5>
                    <p class="card-text">Update information on loans and economy accounts.</p>
                    <a href="#" class="btn btn-primary">Go to action</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 m-4">
            <div class="card shadow-lg border">
                <img src="~/Content/Images/interest_percent.jpg" width="100" height="200" class="card-img-top" alt="business man icon" />
                <div class="card-body">
                    <h5>Update Interest rates</h5>
                    <p class="card-text">Update and view Interest rates (economy/loan).</p>
                    <a href="@Url.Action("InterestRateDashboardIndex", "InterestRatesDashboard")" class="btn btn-primary">Go to action</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 m-4">
            <div class="card shadow-lg border">
                <img src="~/Content/Images/stats.jpg" width="100" height="200" class="card-img-top" alt="business man icon" />
                <div class="card-body">
                    <h5>Statistics</h5>
                    <p class="card-text">Statistics regarding payments and members.</p>
                    <a href="#" class="btn btn-primary">Go to action</a>
                </div>
            </div>
        </div>

    </div>
</div>


<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    -->

