@model CarpAssociationWebsite.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/CustomCssStyles/loginForm.css")" rel="stylesheet" type="text/css" />
}



<div class="container">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-8 col-lg-6 bg-image align-self-center">
            <img src="~/Content/Images/loginpage_banner.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-label-group">
                                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email address", id="inputEmail", required="", autofocus="" })
                                    <label for="inputEmail">Email address</label>
                                </div>

                                <div class="form-label-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", id="inputPassword", required=""})
                                    <label for="inputPassword">Password</label>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


